<div class="nine columns">

<% @missing_people.each do |missing_person| %>
  <span class="field">
  <%= link_to "#{missing_person.first_name} #{missing_person.last_name}", missing_person_path(missing_person) %>
  <%= missing_person.island %>
  </span>

<% end %>

</div>
