

<div class="row">
  <div class="three columns" id="admin_control">
    <button type="button" name="button">Edit Missing Person</button>
    <button type="button" name="button">Add Missing person</button>
    <button type="button" name="button">Site DAta</button>
    <button type="button" name="button">Location of IP's</button>
    <button type="button" name="button">Message Box</button>

  </div>
  <div class="eight columns" id="data-content">
  </div>
</div>
