

<div class="row">
  <div class="three columns" id="admin_control">
    <button type="button" id="all_content"><%= link_to "Missing People", all_content_path, :remote => true %></button>
    <button type="button" id="new_mp"><%= link_to "Add a missing person", new_mp_path, :remote => true %></button>
    <button type="button" name="button">Site Data</button>
    <button type="button" name="button"><%= link_to 'IP Data', ipdata_path, :remote => true %></button>
    <button type="button" name="button"><%= link_to 'Bad Data', fixdata_path, :remote => true %></button>

    <button type="button" name="button">Message Box</button>

  </div>
  <div id="data_content">

  </div>
</div>
