
<div class="five colmuns">

  <%= form_for(@missing_person) do |f| %>
  <%= render 'form' %>
  <%= link_to 'Delete', missing_person_path(@missing_person), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

</div>
