<div class="small-12 medium-7 large-8 columns">
<div class="county" >
  <h4>Honolulu County</h4>
  <li>http://www.honolulu.gov/</li>
  <li>Fire Department (808)723-7139</li>
  <li>Govenor's Office (808)586-0034</li>
  <li>Mayor's office (808)768-4141</li>
  <li>Queen;s Medical Center (808)691-3000</li>
  <li>Castle Medical Center (808)263-5500</li>
  <li>Hawaii State Hospital (808)247-2778</li>
  <li>O'ahu County Jail (808)832-1777</li>
</div>
<div class="county">
  <h4>Maui County</h4>
    <li>http://www.co.maui.hi.us/</li>
      <li>Fire Department (808)270-7561</li>
      <li>Mayor's Office (808)270-7855</li>
      <li>Maui Memorial Hospital (808)244-9056</li>
      <li>Maui County Jail (808)243-5861</li>
  </div>
  <div class="county">
  <h4>County of Kaua'i</h4>
  <li>http://www.kauai.gov/</li>
    <p>Fire Departmnet (808)241-4980</p>
    <p>Mayor's Office (808)241-4900</p>
    <p>Kaua'i Memorial Hospital (808)338-9431</p>
    <p>Kaua'i County Jail (808)241-3050</p>
  </div>
  <div class="county">
    <h4>Hawai'i County</h4>
    <li>http://www.hawaiicounty.gov/</li>
    <li>Fire Departmnet (808)961-8336</li>
    <li>Mayor's Office (808)961-8211</li>
    <li>Kona Hospital (808)322-9311</li>
    <li>North Hawai'i Hospital (808)885-4444</li>
    <li>Ka'u Hospital (808)932-4200</li>
    <li>Hawai'i County Jail (808)933-0428</li>
  </div>

</div>
