<div class="large-11 large-centered columns">

<div class="row small-up-1 medium-up-2 ">

  <div class="column">
    <div class="card county">
    <div class="card-divider">
    <h4>Honolulu County</h4>
    </div>

      <div class="card-section">
      <img src="http://media.royalcaribbean.com/content/shared_assets/images/ports/hero/HNL_01.jpg" class="countypic" alt="Honolulu">
      <li><%= link_to 'Website', "http://www.honolulu.gov", target: '_blank' %></li>
        <li>Fire Department (808)723-7139</li>
        <li>Govenor's Office (808)586-0034</li>
        <li>Mayor's office (808)768-4141</li>
        <li>Queen;s Medical Center (808)691-3000</li>
        <li>Castle Medical Center (808)263-5500</li>
        <li>Hawaii State Hospital (808)247-2778</li>
        <li>O'ahu County Jail (808)832-1777</li>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card county">
        <div class="card-divider">
        <h4>Maui County</h4>
        </div>

        <div class="card-section">
        <img src="http://hawaiistateparks.org/wp-content/uploads/2016/07/Iao-Valley-State-Monument.jpg" class="countypic" alt="Maui">
      <li><%= link_to 'Website', "http://www.co.maui.hi.us", target: '_blank' %></li>
      <li>Fire Department (808)270-7561</li>
      <li>Mayor's Office (808)270-7855</li>
      <li>Maui Memorial Hospital (808)244-9056</li>
      <li>Maui County Jail (808)243-5861</li>
      </div>
    </div>
  </div>
 

  <div class="column">
    <div class="card county">
      <div class="card-divider">
       <h4>Hawai'i County</h4> 
      </div>

      <div class="card-section">
      <img src="http://www.xtreme-photos.com/photos/bibliotheques/3092/960_SUPx-lava-flow-in-ocean-from-big-island-hawaii.jpg" class="countypic" alt="Big Island">
      <li><%= link_to 'Website', "http://www.hawaiicounty.gov", target: '_blank' %></li>
      <li>Fire Departmnet (808)961-8336</li>
      <li>Mayor's Office (808)961-8211</li>
      <li>Kona Hospital (808)322-9311</li>
      <li>North Hawai'i Hospital (808)885-4444</li>
      <li>Ka'u Hospital (808)932-4200</li>
      <li>Hawai'i County Jail (808)933-0428</li>
      </div>
    </div>
  </div>
  

   <div class="column">
    <div class="card county">      
        <div class="card-divider">
        <h4>County of Kaua'i</h4>
        </div>

        <div class="card-section">
        <img src="https://napaliexperience.com/wp-content/uploads/2014/12/glory.jpg" class="countypic" alt="Kaua'i">
        <li><%= link_to 'Website', "http://www.kauai.gov", target: '_blank' %></li>
        <li>Fire Departmnet (808)241-4980</li>
        <li>Mayor's Office (808)241-4900</li>
        <li>Kaua'i Memorial Hospital (808)338-9431</li>
        <li>Kaua'i County Jail (808)241-3050</li>
      </div>
    </div>
  </div>

</div>
</div>