<div class="large-11 large-centered columns">

  <div class="row small-up-1 medium-up-3 ">
  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Department of Land and Natural Resrouces</h4>
    </div>
      <div class="card-section">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Coastguard</h4>
    </div>
      <div class="card-section">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>F.B.I</h4>
    </div>
      <div class="card-section">
      </div>
    </div>
  </div>


</div>
</div>


<!-- <div class="small-12 large-8 columns">

      <h4>DLNR</h4>
        <iframe class="widget" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHawaiiDLNR%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <div class="county">
      <li>DLNR (808)643-DLNR</li>
        </div>


      <h4>Coastguard</h4>
      <iframe class="widget" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCGHawaiiPacific%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <div class="county">
      <li>Honolulu (808)842-2970</li>
      <li>Maui (808)986-0023</li>
      <li>Kaua'i (808)246-0279</li>
      <li>Big Island (808)933-6493</li>
  </div>
  </div>

 -->