<div class="large-11 large-centered columns">

  <div class="row small-up-1 medium-up-3 ">
  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Department of Land and Natural Resrouces</h4>
    </div>
      <div class="card-section">
      <img src="http://www.cakex.org/sites/default/files/Hawaii%20Dept%20of%20Land%20and%20Natural%20Resources.jpg" alt="" height="200">
      <p>
        DLNR Main Office <br>
        4 neighbor island offices located in Kauai, Maui, Hilo and Kona <br>
      
        1151 Punchbowl St. <br>
        Honolulu, HI 96813 <br>
        808-587-0400
        Hotline: 808-643-DLNR 
      </p>
    </div>
      
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Hawai'i Coastguard</h4>
    </div>
      <div class="card-section">
      <img src="https://www.uscg.mil/basehonolulu/Base_Honolulu_Logo.jpg" alt="Coastguard">
      
      <p><h6>USCG Base Honolulu</h6>
      400 Sand Island Parkway <br>
      Honolulu, Hawaii 96819<br>
      Primary Number: 808-842-2640 <br>
      Emergency number: 808-842-2600 <br>
      <hr>
      Maui Station
      233 Maalaea Road <br>
      Wailuku, Hawaii 96793 <br>
      Business line: 808-986-0023
      <hr>
      <a href="https://www.uscg.mil/basehonolulu/default.asp">Website</a>


      </p>
      
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>F.B.I Hawai'i</h4>
    </div>
      <div class="card-section">
      <img src="http://www.pankow.com/site/assets/files/1370/dsc01146.jpg" alt="FBI">
      
      <p><h6>Honolulu Sector</h6>
      <hr>
      91-1300 Enterprise Street<br>
      Kapolei, HI 96707<br>
      808-566-4300</p>
      </div>
    </div>
  </div>


</div>
</div>


<!-- <div class="small-12 large-8 columns">

      <h4>DLNR</h4>
        <iframe class="widget" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHawaiiDLNR%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <div class="county">
      <li>DLNR (808)643-DLNR</li>
        </div>


      <h4>Coastguard</h4>
      <iframe class="widget" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCGHawaiiPacific%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <div class="county">
      <li>Honolulu (808)842-2970</li>
      <li>Maui (808)986-0023</li>
      <li>Kaua'i (808)246-0279</li>
      <li>Big Island (808)933-6493</li>
  </div>
  </div>

 -->