<div class="large-12 columns" id=resource_index>
      <div class="container">
      <div class="large-12 columns" id=resource_index>

                  <%= image_tag("first48.png") %> 

<!-- <h4>First 48 Hours</h4>
<p>
  After the first 24 hours if you haven't already done so contact Search and Rescue Organizations for help, as well as any federal agencies and media contacts <%= link_to 'here', social_path %>).

  <h5>Using Social Media</h5>
  <li>Allot of people use social media on a daily basis. If they have an account you can check their pages to see if they posted anything or made any plans with anyone. Take screenshots of anything that is relevant and send it to the detective</li>
  <li>You will be contacted by allot of different people and from my experience lots of psychics. You will get bombarded sometimes with people trying to get a hold of you and it sometimes even gets violent or they go out on their own and could get possibly hurt or contaminate a scene. If you believe in psychics DO NOT PAY FOR THEIR HELP. A Lot of families already going through these hard times get scammed by these people so I can’t stress enough about not paying for those services. Ask them to kindly contact the the detective in charge and give them the information they have been “receiving”.</li>
  <li>If you have access to their phone or laptop try to see if they are already logged in and check their messages and try to access their accounts that way to try to find any clues on where they might be.</li>
  <li>Most accounts if their phones are linked to them you can also access the location of the phone and search history</li>
  <li>For Gmail accounts you can go into the settings and see anything they last searched, as well as track their phone. Google is amazing for this all you do is go into >> my account on the right hand side >> from their you can find their phone, see activity as well check the privacy settings and track their previous locations.</li>
  Note: do not delete anything
  <h5>Contacting the media</h5>
  <li>I cannot stress enough that the media is a double edged sword.
  </li>
  <li>You need to watch what you say and make sure that you do not say anything that would jeopardize the case. They will ask some very emotional questions and usually only show those parts for the interview. They can also take what you say out of context, so be very clear with your words. They are trying to make a news story after all.</li>
  <li>But you do need the media to help get the word out their about you missing loved one, so try to have what you are going to say written out</li>

  <h5>Tips for searching:</h5>

  <li>Try to get satellite maps and images of the area's you are trying to search. Highlight areas already searched</li>
  <li>Have markers to tie on tree's or guardrails of area'a already searched. The neon construction markers usually work best.</li>
  <li>If you find anything suspicious(clothing, or belongings) mark the area with a marker, take pictures. If you do have to move something use a clean glove to not contaminate the scene. If it is relevant to the case contact the lead detective of the case. If they ask you to bring the item to the station again use your disposable gloves and a plastic bag. If the Detective says to wait for a team to get there do not touch anything and wait for them.</li>
  <li>SAFETY is first! Do not go past your physical limitations and warn everyone to be extremely careful and aware of your surroundings. You do not want to be searching for two missing people.</li>
  <li>Try not to announce exactly where you are searching on social media. If they disappeared under suspicious circumstances it could give away where you are looking and someone could remove evidence. Have a certain meeting spot where you break up volunteers into groups and assign search locations.</li>
  <li>When breaking everyone into groups have a list getting everyone's name and phone numbers and have them pick a team leader or person of contact</li>
  <li>Make sure all phones are fully charged in the beginning of the search. If you are in a remote area your phone will drain rather fast searching for reception. Bring power banks to keep phones charged. Walkie Talkies work great for this, but set it to your own station so that you don't get any unrelated chatter.</li>

  <h5>Tips</h5>
  <li>If you have a larger area to search setting up a large search on the weekends works best because people usually have the weekends off to help.</li>
  <li>Setting up donations. Organizing searches takes resources, manpower and money. Set up a donation on a site like gofundme.com or see if any buisness would sponsor water, lunch sacks, or even paper products(like missing person posters or maps).</li>
  <li>It is an already difficult situation and having to worry about the other details can be overwhelming. If you have people that you trust and want to help have them take over some of your responsibilites(like the facebook page, setting up searches, answering the phone)</li>
</p> -->

  </div>
</div>
</div>