<div class="small-12 large-12 columns" id=resource_landing>
      <div class="container">
      <div class="small-12 large-12 columns" id=resource_index>

            <%= image_tag("first24.png") %> 

<!-- 
<h2>First 24 Hours</h2>
<p>
  The first 24 hours are probably the hardest. You don't want to think negative thoughts and you want to be hopeful, but it's scarey and if you have never had to search for someone before it can be an extremely overwhelming thought. Here are some tips on what you should try to accomplish in the first 24 hours.

<li>After filing the police report create a missing person poster. It's not to hard to do, using office or any other document processor you can create a poster. Also www.canva.com  is a great tool to get a design done quick.
<h6>Information for the poster</h6>
<li>Full name including nicknames and aliases</li>
<li>Picture of missing person and if vehicle is involved a picture of the vehicle as well, try to compile at least three photographs.</li>
<li>Height, weight, eye, color, hair color, sex</li>
<li>What they were last wearing, any possesions and physical characteristics (tattoos, scars)</li>
<li>Area last seen / circumstances</li>
<li>Number for the missing person hotline or police station</li>
<li>If a reward has been set up make sre to post it on the flier</li>
Keep in mind these might change as the search continues, so create the poster in a place where you can easily change it.
</li>
</p>
<p>
<h2>Spreading the Word</h2>
<li>Hand out and post fliers to whoever will take them. Hitting the hard the area where they were last seen. Post the flier to social media. Create a missing person page and start sending out information. The more people share your post the more people will see it which will hopefully in return get you some information. </li>
<li>Remember any information you get to hand over to the lead detective assigned to your case. Get informants phone numbers and names and let them know that the detective might contact them. If they would like to call the detective themselves make sure you have the detectives line on hand to give out.</li>
<li>Track down their cell phone. Every situation is different but if you are on the same phone plan as the person missing, you might be able to log into the online account and check any text messages as well as ping the location of the phone. If they had the "Find my phone app" or any other location app installed in their phone you could get the last location the phone registered a signal. </li>
<li>Contact a Search and Rescue team. They are legally not allowed to contact you so you do have to ask them for help. You can also contact the Department of Land and Natural Resources and the Coastguard in your area, depending on the location they can do an ocean search but they have to be notified within 48 hours of the person missing. We have the links  <%= link_to 'Here', social_path %> for all the agencies. </li>
<li>Start creating a timeline. As we stated earlier log everything. Start creating a timeline of at least three days before the person went missing. Keeping track of who they talked to, what they did, approximately what times and who they were with.</li>
<li>Be as thorough as possible, never exclude any possibility and always keep faith. Like the saying goes faith can move mountains. </li>
<li>Try to get some rest. It will seem nearly impossible but even a couple of hours will help recharge your body. You need to stay healthy to conduct searches, handle the phone and gather information.</li>
<h4>DON'T</h4>
<li>RELY ON LAW ENFORCEMENT. Because of red tape and politics you can't rely on them to do the leg work. You have to get out there and search, you have to put up the missing person posters, you have to gather information and put the puzzles pieces together, you have to create the timeline and find answers. You hand the information over to them, but they are only the enforcers of the law, they do not practice law and they are not lawyers. The police cannot legally tell you to do anything, but you can gather the information yourself and hand it to them.</li>
<li>With that being said DO NOT TAKE THE LAW INTO YOUR OWN HANDS. If there might have been another person involved in the disappearance do not attack them or approach them. You could hinder the ongoing investigation. Of course emotions are high and you want answers, but let the police question the suspect. If they contact you, try to record every voice conversation or screenshot every comment or message, you have with them. When they get interviewed by the police the conflicting stories will sometimes paint a picture of what happened and didn't happen.</li> -->
</div>
</div>
</div>