<div class="large-11 large-centered columns">

  <div class="row small-up-1 medium-up-2 ">
  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Oahu Police Deaprtment</h4>
    </div>
      <div class="card-section">
      <img src="http://www.honolulupd.org/timages/TitleBarCity9.jpg" alt="">
      <p>801 South Beretania Street <br> 
      Honolulu, Hawaii, 96813 <br>
      <br>
      <br>
Emergency 911 or 808-529-3111 
</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Maui Police Department</h4>
    </div>
      <div class="card-section">
      <img src="http://www.co.maui.hi.us/ImageRepository/Document?documentID=101298" alt="">
      <p>55 Mahalani Street <br>
Wailuku, HI 96793 <br>
<br>
<br>
Emergency 911 or 808-244-6400</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Kauai Police Department</h4>
    </div>
      <div class="card-section">
      <img src="http://hawaiiahe.com/wp-content/uploads/2013/06/Kauai-Police-Department-badge-generic-27846257.jpg" alt="">
      <p>3990 Kaana Street, Suite 200 <br>
Lihue, HI 96766 <br>
<br>

Emergency 911 or 808-241-1711 <br>

Crime stoppers: 808-246-8300</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Hawaii Police Department</h4>
    </div>
      <div class="card-section">
                             <%= image_tag("bipd.png") %> 

      <p>349 Kapiʻolani Street <br>
Hilo, Hawaiʻi 96720
<br>
<br>
Emergency 911 or 808-935-3311 <br>
Crime stoppers: 808-961-8300

</p>
      </div>
    </div>
  </div>

</div>
</div>

<!-- 

<div class="small-12 large-8 columns">
  <span class="contact">
    <h6>Honolulu Police Department</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhonolulu.police%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <p>Honolulu County (808)529-3111 </p>

  </span>
  <span class="contact">
    <h6>Maui Police Department</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMauiPoliceDepartment%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <p>Maui County(808)244-6400</p>
  </span>
  <span class="contact">
    <h6>Kaua'i Police Department</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCountyofKauai%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <p>Kaua'i County (808)241-1711</p>
  </span>
  <span class="contact">
    <h6>Hawai'i County Police Department</h6>
      <iframe src="http://www.hawaiipolice.com/news/media-releases" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <p>Hawai'i County (808)935-3311</p>
  </span>
</div>
 -->