
<div class="large-11 large-centered columns">

<div class="row small-up-1 medium-up-3 ">
  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Hawaii News Now</h4>
    </div>
      <div class="card-section">
      <iframe src="http://www.hawaiinewsnow.com/"></iframe>
      <p>
        420 Waiakamilo Road Suite 205 <br>
      Honolulu, Hawaii 96817
      <hr>

      Main: 808-847-3246 <br>
      Newsroom: 808-847-1112 <br>
      Email:
      news@hawaiinewsnow.com
      </p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card county" style="height: 400px;">
        <div class="card-divider">
        <h4>KHON 2</h4>
        </div>
        <div class="card-section">
        <iframe src="http://khon2.com/"></iframe>
        <p>
          88 Piikoi Street <br>
          Honolulu, Hawaii 96814 
          <hr>
          Main: 808-591-2222 <br>
          Newsroom: 808-591-4278 <br>
          Email: news@khon2.com
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>KITV4</h4>
        </div>
        <div class="card-section">
        <iframe src="com"></iframe>
        <p>
          801 South King Street <br>
Honolulu, HI 96813 
<hr>
Main: 808-535-0400
Email: info@kitv.com

        </p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>KFVE</h4>
        </div>
        <div class="card-section">
        <iframe src="http://www.k5thehometeam.com/"></iframe>
        <p>
          420 Waiakamilo Road   Suite 205 <br>
        Honolulu, Hawaii  96817
        <hr>
        Newsroom: 808-847-1112  (HawaiiNewsNow) <br>
        Email: News@HawaiiNewsNow.com
         </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Star-Advertiser</h4>
        </div>
        <div class="card-section">
        <iframe src="http://www.staradvertiser.com/"></iframe>
        <p>
        500 Ala Moana Blvd. #7-210 <br>
        Honolulu, HI 96813 
        <hr>
        Main: 808-529-4747 <br>
        Newsroom: 808-529-4747 <br>
        Email: citydesk@staradvertiser.com</p>
        

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>The Maui News</h4>
        </div>
        <div class="card-section">
        <iframe src="http://www.mauinews.com/"></iframe>
        <p>
        100 Mahalani Street <br>
      Wailuku, Maui, Hawaii 96793
      <hr>

      Main: 808-244-3981 <br>
      Submit News: <a href="http://www.mauinews.com/submit-news/">Here</a>
                

        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Hawaii Public radio</h4>
        </div>
        <div class="card-section">
        <iframe src="http://hawaiipublicradio.org/"></iframe>
        <p>
          738 Kāheka Street <br>
        Honolulu, HI  96814
        <hr>
        Main: 808-955-8821 <br>
        Email: mail@hawaiipublicradio.org
        </p>
        
      </div>
    </div>
  </div>
 

  <div class="column">
    <div class="card county" style="height: 400px;">
      <div class="card-divider">
        
       <h4>MauiWatch</h4> 
      </div>
      <div class="card-section"></div>
      <iframe src="http://mauiwatch.com/"></iframe>
      <p>
        Submit News: <a href="http://mauiwatch.com/contact-us/">Here</a>

      </p>
    </div>
  </div>
  

   <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Maui Now</h4>
        </div>
        <div class="card-section">
        <iframe src="http://mauinow.com/"></iframe>
        <p>
          Email: editor@mauinow.com

        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Mid Week Kauai</h4>
        </div>
        <div class="card-section">
        <iframe src="http://www.midweekkauai.com/"></iframe> 
        <p>
          Main: 808-529-4700

        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>The Garden Island</h4>
        </div>
        <div class="card-section">
        <iframe src="http://www.midweekkauai.com/"></iframe> 
        <p>
          3-3137 Kuhio Hwy. <br>
          Lihue, HI 96766
          <hr>
          Main: 808-245-3681 <br>
          Newsroom: 808-245-0427 <br>
          Email: bbuley@thegardenisland.com

        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Big Island Now</h4>
        </div>
        <div class="card-section">
        <iframe src="http://bigislandnow.com/"></iframe>
        <p>
          Email: newsdesk@bigislandnow.com
        </p>
        
      </div>
    </div>
  </div>

<div class="column">
    <div class="card county" style="height: 400px;">      
        <div class="card-divider">
        <h4>Hawaii Tribune Herald</h4>
        </div>
        <div class="card-section">
        <iframe src="http://hawaiitribune-herald.com/"></iframe>
        <p>
        355 Kinoole Street  <br>
Hilo, Hawaii 96720 <hr>
Main: 935-6621 <br>

          Submit News: <a href="http://hawaiitribune-herald.com/webform/submit-news-story">here</a>
        </p>
        
      </div>
    </div>
  </div>

</div>
</div>
 <!--  <span class="contact">
    <h6>Hawaii News Now</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHawaiiNewsNow%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h6>KHON 2</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkhon2news%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h6>MauiWatch</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMAUIWatch%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h6>KITV4</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKITV4%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h6>Maui Now</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmauinow%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h6>People News Network</h6>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpeoplenewsnet%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
 </span>
 <span class="contact">
   <h6>Big Island Now</h6>
   <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBigIslandNow%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
 </span>
 <span class="contact">
<h6>Mid Week Kauai</h6>
   <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMidWeekKauai%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
 </span> -->
