<div class="large-11 large-centered columns">

  <div class="row small-up-1 medium-up-2 ">
  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Oahu Search and Rescue</h4>
    </div>
      <div class="card-section">
      <img src="http://htmclub.org/wp-content/uploads/2016/05/OSAR-logo.png" alt="">
      <p>347-620-6727 <br>
      OahuSAR@gmail.com
      </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Maui Search and rescue</h4>
    </div>
      <div class="card-section">
      <img src="http://mauisar.org/images/logo2.png" alt="">
      <p>
        808-866-4746 <br>
        sar@mauisar.org

      </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Kauai Search and Rescue</h4>
    </div>
      <div class="card-section">
      <iframe src="http://kauaisar.org/"></iframe>
      <p>
        kauaik9searchandrescue@hotmail.com <br>
        KSAR can only respond to call outs by the Kauai Police Department, Kauai Fire Department, and the Department of Land and Natural Resourses

      </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card county" style="height: 400px;">
    <div class="card-divider">
    <h4>Hawaii Search and Rescue</h4>
    </div>
      <div class="card-section">
      <p>Currently on Big Island there is no Search and Rescue Team. Search and rescue is done by firefighters and  the coastguard</p>
      </div>
    </div>
  </div>

</div>
</div><!-- 
  <span class="contact">
  <h4>Maui Search and Rescue</h4>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmauisearchandrescue%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h4>Oahu Search and rescue</h4>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Foahusearchandrescue%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h4>Kauai Search and Rescue K-9 Team</h4>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKauai-Search-and-Rescue-K-9-Team-1409223389319320%2F&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1776990429249548" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
  <span class="contact">
    <h4>Hawaii Search and rescue</h4>

    <iframe src="http://www.searchandrescuehawaii.org/home.html" width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </span>
</div>

 -->