<div class="nine columns content">
  <div class="container">
    <h4>Second Week</h4>
    <p>
      I hope there isn't a second week and that your loved ones have been found safe and unharmed. But in the case that hasn't happened. Never give up and keep pushing foraward!
      <li>Continue with searches and updating your map as areas are crossed of your list.</li>
      <li>Keep posting their missing person fliers and keeping their name in the media</li>
      <li>Keep searching for answers and updating their timeline</li>
      <li>Try getting access to bank records to see if a card was used before or after they were last seen.</li>
      <li>There are only 2 ways off an island by flight or by boat. Try to see if you can find any records of a flight purchsed or if they new anyone with a boat doing a crossing</li>
    </p>
  </div>
</div>
