  <div class="large-12 columns" id=resource_index>
      <div class="conatiner">
    <h4>Second Week</h4>
    <p>
      I hope there isn't a second week and that your loved ones have been found safe and unharmed. But in the case that hasn't happened. Never give up and keep pushing forward!
      <li>Continue with searches and updating your map as areas are crossed of your list.</li>
      <li>Keep posting their missing person fliers and updating any social media accounts to keep people in the loop as well as receive any information from the public.
      </li>
      <li>Keep searching for answers and updating their timeline. If you can get access to bank statements or credit card statements to see if any airline tickets were purchased or if there are any suspicious charges.</li>
      
    </p>
  </div>
</div>
