  <div class="small-12 large-12 columns" id=resource_landing>
      <div class="small-12 large-12 columns" id=resource_index>

                  <%= image_tag("thirdmonth.png") %> 
                  </div>
                  </div>