<div class="large-12 columns" id="resource_index">

<div class="about">
<%= image_tag("moalohalogo.png", class: "float-center") %>
	<p>We built this page to help familes with missing loved ones. We built the database so that none of them are ever forgotten. <br> When my mother Moreira Monsalve went missing there weren't many resources to help us plan and organize searches. I didn't even really know what I was doing and if I was doing anything wrong or for that matter right. I was leading blindly down a road I didn't know anything about. I wanted to create this site to give some insight on what you should try to do and what you should try to accomplish as well as tips for things I wish I did or known sooner. This is in no means a guide or type of protocol but suggestions I wish I had on January 12th, 2014. <br><br>
	If your family memeber is in this database and you would like their profile edited or taken down please write to us at <br>
	moalohafoundation@yahoo.com
	<br><br>
	The resource infographics were creted by Alexis Felicilda with help of Kimberlyn Scott and Maui Search and Rescue.</p>
	<%= image_tag("https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/13319791_526670830851673_4676926148749737883_n.jpg?oh=df464a11c3a8c2efcde3f01f5f57015a&oe=58DAC504", class: "float-center") %>

</div>

</div>