	<div class="small-12 large-12 columns" id="landing">
	<div class="row">
	<div class="small-12 large-6 columns">
	<div class="container">
  		<ul id="slider">
		    <li>
			<%= image_tag("momflier.png", class: "float-center") %>	      
		    </li>
		    <li>
			<%= image_tag("search1.jpg", class: "float-center") %>	      
		    </li>
		    <li>
			<%= image_tag("search3.jpg", class: "float-center") %>	      
		    </li>

		    </ul>
		 <ul id="dots">   
		    <li class="active"></li>
		    <li></li>
		    <li></li>
		  </ul>

		    </div>
		    </div>
			
			<div class="small-12 large-5 columns" id="landingparagraph">
				<p>
		<%= image_tag("moalohalogo.png") %>
		 is a site to help aide a family when a loved one goes missing. We have compilied lists of resources, checklists, tips and contacts to help ease the burden; esspecially when time is of the essence. We have also created  a database for currently Missing People in Hawaii with markers on a map of where they were last seen.  Remember, we may not have found them yet... But
		We will never give up and they will never be forgotten.
				</p>
			</div>
			</div>
			</div>	

<div class="footer">
  <div class="full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-html5"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Connect</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Donate</a></li>
      <ul>
    </div>
  </div>
</div>

