<div class="row">
  <div class="three columns">
    <button type="button" name="button"><%= link_to 'Missing Person', missingperson_path, :remote => true %></button>
    <button type="button" name="button"><%= link_to 'First 24 Hours', firsthours_path, :remote => true %></button>
    <button type="button" name="button">First 48hours</button>
    <button type="button" name="button">Second Week</button>
    <button type="button" name="button">First Month</button>
    <button type="button" name="button">Third Month</button>
    <button type="button" name="button">Sixth Month</button>
    <button type="button" name="button">First Year</button>
    <button type="button" name="button">List of Contacts</button>
  </div>

  <div id="data_content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div>

</div>
