<div class="row">
  <div class="three columns">
    <button type="button" name="button"><%= link_to 'Missing Person', missingperson_path, :remote => true %></button>
    <button type="button" name="button"><%= link_to 'First 24 Hours', firsthours_path, :remote => true %></button>
    <button type="button" name="button">First 48hours</button>
    <button type="button" name="button">Second Week</button>
    <button type="button" name="button">First Month</button>
    <button type="button" name="button">Third Month</button>
    <button type="button" name="button">Sixth Month</button>
    <button type="button" name="button">First Year</button>
    <button type="button" name="button">List of Contacts</button>
  </div>

  <div id="data_content">

  </div>

</div>
